<!DOCTYPE html>
<html lang="ch">

<head>
    <meta charset="UTF-8">
    <title>我的订单</title>
    <link rel="stylesheet" href="../static/bootstrap-3.3.7-dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="../static/css/index.css">
    <link rel="stylesheet" href="../static/css/user.css">
    <script src="../static/js/jquery.min.js"></script>
    <script src="../static/bootstrap-3.3.7-dist/js/bootstrap.min.js"></script>
    <script src="../static/js/vue.min.js"></script>
</head>

<body>
    <!-- 导航栏 -->
    <nav class="navbar navbar-default navbar-fixed-top navbar-inverse" id="header">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1"
                    aria-expanded="false">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#" style="color: white">短租网</a>
            </div>
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">
                    <li class="active">
                        <a href="/">首页</a>
                    </li>
                    <li id="signInButton">
                        <a href="signIn">欢迎您，947426443@qq.com</a>
                    </li>
                    <li id="signUpButton">
                        <a href="signUp"></a>
                    </li>
                    <li id="releaseHouseButton" style="visibility: hidden">
                        <a href="releaseHouse">发布房源</a>
                    </li>
                    <li id="myOrderButton">
                        <a href="myOrder">我的订单</a>
                    </li>
                </ul>
                <form class="navbar-form navbar-right">
                    <div>
                        <input type="text" id="keyword" name="keyword" placeholder="城市或目的地">
                        <button type="button" id="btn-search" onclick="window.location.href='/houseDisplay'">
                            <span class="glyphicon glyphicon-search" aria-hidden="true"></span>
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </nav>
    <!-------- 内容部分---- -->
    <section class="container" style="margin-top: 120px;margin-bottom: 30%">
        <p>&gt;&gt;我的订单</p>
        <div class="row">
            <div class="col-xs-4 col-md-2 col-md-offset-1 message-list">
                <a href="userInfo" class="btn btn-default btn-lg">
                    <span class="glyphicon glyphicon-user"></span>账户管理
                </a>
                <a href="myOrder" class="btn btn-default btn-lg active">
                    <span class="glyphicon glyphicon-file"></span>我的订单
                </a>
                <a href="myHouse" class="btn btn-default btn-lg">
                    <span class="glyphicon glyphicon-home"></span>我的房屋
                </a>
            </div>
            <div class="col-xs-6 col-md-8">
                <ul class="nav nav-tabs" role="tablist">
                    <li role="presentation" class="active">
                        <a href="#charging" aria-controls="charging" role="tab" data-toggle="tab">待确认</a>
                    </li>
                    <li role="presentation">
                        <a href="#charged" aria-controls="charged" role="tab" data-toggle="tab">已确认</a>
                    </li>
                    <!-- <li role="presentation">
                        <a href="#all-orders" aria-controls="all-orders" role="tab" data-toggle="tab">失效订单</a>
                    </li> -->
                </ul>
                <div class="tab-content">
                    <div role="tabpanel" class="tab-pane  fade in active" id="charging">
                        <div class="order-num">
                            <label>
                                <span style="margin-right: 30px">订单号：201807040032</span>
                                <span style="margin-right: 30px">下单时间：2018-7-11</span>
                                <span>房东：947426443@qq.com</span>
                            </label>
                        </div>
                        <div class="order-address">
                            <img src="../static/images/userInfo/u3537.png" alt="">
                            <div>
                                <p>
                                    <a href="#">标题</a>
                                </p>
                                <p>
                                    <span class="glyphicon glyphicon-map-marker"></span>地址</p>
                            </div>
                        </div>
                        <div class="order-item">
                            <div style="margin-top: 10px;margin-bottom: 10px">
                                <p>
                                    <strong>入住时间：
                                        <br/>2018-7-13</strong>
                                </p>
                            </div>
                            <div>
                                <p>
                                    <strong>退房时间：
                                        <br/>2018-7-15</strong>
                                </p>
                            </div>
                        </div>
                        <div class="order-item order-item-center">
                            <div style="margin-top: 20px">
                                <p>
                                    <strong>订单总额：</strong>
                                </p>
                                <p>
                                    <strong>￥56</strong>
                                </p>
                            </div>
                        </div>
                        <div class="order-item order-item-center">
                            <div style="margin-top: 20px">
                                <p>
                                    <a href="/orderDetails">订单详情</a>
                                </p>
                            </div>
                        </div>
                    </div>
                    <div role="tabpanel" class="tab-pane  fade" id="charged">
                        <div class="order-num">
                            <label>
                                <span style="margin-right: 30px">订单号：201807040032</span>
                                <span>下单时间：2018-7-11</span>
                            </label>
                        </div>
                        <div class="order-address">
                            <img src="../static/images/userInfo/u3537.png" alt="">
                            <div>
                                <p>
                                    <a href="#">标题</a>
                                </p>
                                <p>
                                    <span class="glyphicon glyphicon-map-marker"></span>地址</p>
                            </div>
                        </div>
                        <div class="order-item">
                            <div style="margin-top: 10px;margin-bottom: 10px">
                                <p>
                                    <strong>入住时间：
                                        <br/>2018-7-13</strong>
                                </p>
                            </div>
                            <div>
                                <p>
                                    <strong>退房时间：
                                        <br/>2018-7-15</strong>
                                </p>
                            </div>
                        </div>
                        <div class="order-item order-item-center">
                            <div style="margin-top: 20px">
                                <p>
                                    <strong>订单总额：</strong>
                                </p>
                                <p>
                                    <strong>￥100</strong>
                                </p>
                            </div>
                        </div>
                        <div class="order-item order-item-center">
                            <div style="margin-top: 20px">
                                <p>
                                    <a href="/orderDetails">订单详情</a>
                                </p>
                            </div>
                        </div>
                    </div>
                    <div role="tabpanel" class="tab-pane  fade" id="all-orders">
                        <div class="order-num">
                            <label>
                                <span style="margin-right: 30px">订单号：201807040032</span>
                                <span>下单时间：2018-7-11</span>
                            </label>
                        </div>
                        <div class="order-address">
                            <img src="../static/images/userInfo/u3537.png" alt="">
                            <div>
                                <p>
                                    <a href="#">标题</a>
                                </p>
                                <p>
                                    <span class="glyphicon glyphicon-map-marker"></span>地址</p>
                            </div>
                        </div>
                        <div class="order-item">
                            <div style="margin-top: 10px;margin-bottom: 10px">
                                <p>
                                    <strong>入住时间：
                                        <br/>2018-7-13</strong>
                                </p>
                            </div>
                            <div>
                                <p>
                                    <strong>退房时间：
                                        <br/>2018-7-15</strong>
                                </p>
                            </div>
                        </div>
                        <div class="order-item order-item-center">
                            <div style="margin-top: 20px">
                                <p>
                                    <strong>订单总额：</strong>
                                </p>
                                <p>
                                    <strong>￥100</strong>
                                </p>
                            </div>
                        </div>
                        <div class="order-item order-item-center">
                            <div style="margin-top: 20px">
                                <p>
                                    <a href="/orderDetails">订单详情</a>
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
                <div id="orderContent">
                    <div class="tab-content" v-for "oneOrder in orders">
                        <div role="tabpanel" class="tab-pane  fade in active" id="charging">
                            <div class="order-num">
                                <label>
                                    <span style="margin-right: 30px">订单号：201807040032</span>
                                    <span style="margin-right: 30px">下单时间：2018-7-11</span>
                                    <span>房东：{{oneOrder.owner}}</span>
                                </label>
                            </div>
                            <div class="order-address">
                                <img src="../static/images/userInfo/u3537.png" alt="">
                                <div>
                                    <p>
                                        <a href="#">标题</a>
                                    </p>
                                    <p>
                                        <span class="glyphicon glyphicon-map-marker"></span>地址</p>
                                </div>
                            </div>
                            <div class="order-item">
                                <div style="margin-top: 10px;margin-bottom: 10px">
                                    <p>
                                        <strong>入住时间：
                                            <br/>2018-7-13</strong>
                                    </p>
                                </div>
                                <div>
                                    <p>
                                        <strong>退房时间：
                                            <br/>2018-7-15</strong>
                                    </p>
                                </div>
                            </div>
                            <div class="order-item order-item-center">
                                <div style="margin-top: 20px">
                                    <p>
                                        <strong>订单总额：</strong>
                                    </p>
                                    <p>
                                        <strong>￥56</strong>
                                    </p>
                                </div>
                            </div>
                            <div class="order-item order-item-center">
                                <div style="margin-top: 20px">
                                    <p>
                                        <a href="/orderDetails">订单详情</a>
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div role="tabpanel" class="tab-pane  fade" id="charged">
                            <div class="order-num">
                                <label>
                                    <span style="margin-right: 30px">订单号：201807040032</span>
                                    <span>下单时间：2018-7-11</span>
                                </label>
                            </div>
                            <div class="order-address">
                                <img src="../static/images/userInfo/u3537.png" alt="">
                                <div>
                                    <p>
                                        <a href="#">标题</a>
                                    </p>
                                    <p>
                                        <span class="glyphicon glyphicon-map-marker"></span>地址</p>
                                </div>
                            </div>
                            <div class="order-item">
                                <div style="margin-top: 10px;margin-bottom: 10px">
                                    <p>
                                        <strong>入住时间：
                                            <br/>2018-7-13</strong>
                                    </p>
                                </div>
                                <div>
                                    <p>
                                        <strong>退房时间：
                                            <br/>2018-7-15</strong>
                                    </p>
                                </div>
                            </div>
                            <div class="order-item order-item-center">
                                <div style="margin-top: 20px">
                                    <p>
                                        <strong>订单总额：</strong>
                                    </p>
                                    <p>
                                        <strong>￥100</strong>
                                    </p>
                                </div>
                            </div>
                            <div class="order-item order-item-center">
                                <div style="margin-top: 20px">
                                    <p>
                                        <a href="/orderDetails">订单详情</a>
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div role="tabpanel" class="tab-pane  fade" id="all-orders">
                            <div class="order-num">
                                <label>
                                    <span style="margin-right: 30px">订单号：201807040032</span>
                                    <span>下单时间：2018-7-11</span>
                                </label>
                            </div>
                            <div class="order-address">
                                <img src="../static/images/userInfo/u3537.png" alt="">
                                <div>
                                    <p>
                                        <a href="#">标题</a>
                                    </p>
                                    <p>
                                        <span class="glyphicon glyphicon-map-marker"></span>地址</p>
                                </div>
                            </div>
                            <div class="order-item">
                                <div style="margin-top: 10px;margin-bottom: 10px">
                                    <p>
                                        <strong>入住时间：
                                            <br/>2018-7-13</strong>
                                    </p>
                                </div>
                                <div>
                                    <p>
                                        <strong>退房时间：
                                            <br/>2018-7-15</strong>
                                    </p>
                                </div>
                            </div>
                            <div class="order-item order-item-center">
                                <div style="margin-top: 20px">
                                    <p>
                                        <strong>订单总额：</strong>
                                    </p>
                                    <p>
                                        <strong>￥100</strong>
                                    </p>
                                </div>
                            </div>
                            <div class="order-item order-item-center">
                                <div style="margin-top: 20px">
                                    <p>
                                        <a href="/orderDetails">订单详情</a>
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>


    </section>
    <!--------页脚部分  ---->
    <footer class="container-fluid" id="footer">
        <div class="container">
            <div class="row">
                <div class="col-xs-4 col-md-2">
                    <h3>
                        <a href="#">关于我们</a>
                    </h3>
                    <div class="text-left">
                        <p>
                            <a href="#">了解我们</a>
                        </p>
                        <p>
                            <a href="#">加入我们</a>
                        </p>
                    </div>
                </div>
                <div class="col-xs-4 col-md-2">
                    <h3>
                        <a href="#">网站协议</a>
                    </h3>
                    <div class="text-left">
                        <p>
                            <a href="#">房客指南</a>
                        </p>
                        <p>
                            <a href="#">房东指南</a>
                        </p>
                        <p>
                            <a href="#">服务协议</a>
                        </p>
                    </div>
                </div>
                <div class="col-xs-4 col-md-2 ">
                    <h3>
                        <a href="#">联系客服</a>
                    </h3>
                    <div class="text-left">
                        <p>
                            <a href="#">电话
                                <br/>400-010-7890</a>
                        </p>
                        <p>
                            <a href="#">邮箱
                                <br/>service@re.com</a>
                        </p>
                    </div>
                </div>
                <div class="col-xs-4 col-md-2 col-md-offset-2 " style="padding-top: 20px;">
                    <img src="../static/images/homepage/u109.png" alt="">
                    <p>下载APP</p>
                </div>
                <div class="col-xs-4 col-md-2" style="padding-top: 20px;">
                    <img src="../static/images/homepage/u109.png" alt="">
                    <p>关注微信公众号</p>
                </div>
            </div>
        </div>
    </footer>
</body>
<script>
    var orderRendering = new Vue({
        el: '#orderContent',
        data: {
            orders: [{
                customer : "1017002343@qq.com",
                customer_ranked:0,
                done:1,
                house:"1017002343",
                house_ranked:0,
                id:"1234567",
                owner:"947426443@qq.com",
                owner_ranked:0,
                passed:1,
                time:"2018-06-30",
                value:123
            }]
        }
    })
    $.ajax({
        type: 'GET',
        url: '/orders/getinfo?',
        dataType: 'json',
        data: {
            username: document.cookie,
            type: 'all'
        }
    })
        .done(function (data) {
            console.log(data)
            for (i in data) {
                // console.log(data[i])
                console.log(orderRendering.orders)
                orderRendering.orders.push({
                    customer: data[i].customer,
                    customer_ranked: data[i].customer_ranked,
                    done: data[i].done,
                    house: data[i].house,
                    house_ranked: data[i].house_ranked,
                    id: data[i].id,
                    owner: data[i].owner,
                    owner_ranked: data[i].owner_ranked,
                    passed: data[i].passed,
                    time: data[i].time,
                    value: data[i].value
                })
            }
        })

</script>

</html>