<!DOCTYPE html>
<html lang="ch">

<head>
    <meta charset="UTF-8">
    <title>订单详情</title>
    <link rel="stylesheet" href="../static/bootstrap-3.3.7-dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="../static/css/index.css">
    <script src="../static/bootstrap-3.3.7-dist/js/bootstrap.min.js"></script>
    <style>
    #order-page {
        background: white;
        padding-top: 120px;
        padding-bottom: 10px;
    }

    #order-page a {
        color: #199ED8;
    }

    #order-page span {
        margin-left: 30px;
    }

    #order-page a:hover {
        color: black;
        text-decoration: underline;
    }

    #order-page .row {
        background: #F5F8FA;
        padding-bottom: 10px;
        padding-top: 10px;
        border-bottom: 1px solid #C9C9C9;
    }

    #order-page h4 {
        text-align: center;
    }

    .order-content {
        width: 600px;
        margin: 10px auto;
    }
    </style>
</head>

<body>
<!-- 导航栏 -->
    <nav class="navbar navbar-default navbar-fixed-top navbar-inverse" id="header">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#" style="color: white">短租网</a>
            </div>
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">
                    <li class="active"><a href="index">首页</a></li>
                    <li id="signInButton"><a href="signIn">登陆</a></li>
                    <li id="signUpButton"><a href="signUp">注册</a></li>
                    <li id="releaseHouseButton" style="visibility: hidden"><a href="releaseHouse">发布房源</a></li>
                    <li id="myOrderButton"><a href="myOrder">我的订单</a></li>
                </ul>
                <form class="navbar-form navbar-right">
                    <div>
                        <input type="text" id="keyword" name="keyword" placeholder="城市或目的地">
                        <button type="button" id="btn-search">
                            <span class="glyphicon glyphicon-search" aria-hidden="true"></span>
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </nav>    
    <!-------- 内容部分 ------>
    <section class="container" id="order-page">
        <div style="width: 150px;margin:0 auto 0 auto"><h3>预订成功！</h3></div>
        <div class="row">
            <h4 class="col-md-2">订单详情</h4>
            <h4 class="col-md-2 col-md-offset-8"><a href="myOrder">返回我的订单</a></h4>
        </div>
        <div class="order-content">
            <p>当前订单状态为：<strong>等待房东确认</strong></p>
            <p>--------------------------------------------------------------------------------------</p>
            <p>订单编号：201807090032</p>
            <p>下单时间 : 2018-07-11</p>
            <p>下单人 ：947426443@qq.com</p>
            <p>下单人联系方式 ： 1892561356</p>
            <p>--------------------------------------------------------------------------------------</p>
            <p>房源名称：<a href="houseDetails">二环内黄金地段，独立地铁口公寓...</a></p>
            <p>房源地址：四川成都金羊区</p>
            <p>--------------------------------------------------------------------------------------</p>
            <p>入住时间：2017.03.17</p>
            <p>退房时间：2017.03.19</p>
            <p>入住天数：2天</p>
            <p>房间数量：1间</p>
            <p>入住人数：2人</p>
        </div>
    </section>
    <footer class="container-fluid" id="footer" style="margin-top: 15%">
        <div class="container">
            <div class="row">
                <div class="col-xs-4 col-md-2">
                    <h3><a href="#">关于我们</a></h3>
                    <div class="text-left">
                        <p><a href="#">了解我们</a></p>
                        <p><a href="#">加入我们</a></p>
                    </div>
                </div>
                <div class="col-xs-4 col-md-2">
                    <h3><a href="#">网站协议</a></h3>
                    <div class="text-left">
                        <p><a href="#">房客指南</a></p>
                        <p><a href="#">房东指南</a></p>
                        <p><a href="#">服务协议</a></p>
                    </div>
                </div>
                <div class="col-xs-4 col-md-2 ">
                    <h3><a href="#">联系客服</a></h3>
                    <div class="text-left">
                        <p><a href="#">电话<br/>400-010-7890</a></p>
                        <p><a href="#">邮箱<br/>service@re.com</a></p>
                    </div>
                </div>
                <div class="col-xs-4 col-md-2 col-md-offset-2 " style="padding-top: 20px;">
                    <img src="../static/images/homepage/u109.png" alt="">
                    <p>下载APP</p>
                </div>
                <div class="col-xs-4 col-md-2" style="padding-top: 20px;">
                    <img src="../static/images/homepage/u109.png" alt="">
                    <p>关注微信公众号</p>
                </div>
            </div>
        </div>
    </footer>
</body>

</html>