<!DOCTYPE html>
<html lang="ch">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, minimum-scale=1.0, maximum-scale=1.0,user-scalable=no">
    <title>注册</title>
    <link rel="stylesheet" href="../static/bootstrap-3.3.7-dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="../static/css/index.css">
    <script src="../static/js/jquery.min.js"></script>
    <script src="../static/js/bootstrap.min.js"></script>
    <script src="../static/js/vue.min.js"></script>
</head>

<body>
<!-- 导航栏 -->
    <nav class="navbar navbar-default navbar-fixed-top navbar-inverse" id="header">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#" style="color: white">短租网</a>
            </div>
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">
                    <li class="active"><a href="/">首页</a></li>
                    <li id="signInButton"><a href="signIn">登陆</a></li>
                    <li id="signUpButton"><a href="signUp">注册</a></li>
                    <li id="releaseHouseButton" style="visibility: hidden"><a href="releaseHouse">发布房源</a></li>
                    <li id="myOrderButton"><a href="myOrder">我的订单</a></li>
                </ul>
                <form class="navbar-form navbar-right">
                    <div>
                        <input type="text" id="keyword" name="keyword" placeholder="城市或目的地">
                        <button type="button" id="btn-search" onclick="window.location.href='/houseDisplay'">
                            <span class="glyphicon glyphicon-search" aria-hidden="true"></span>
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </nav>
    <!-- 内容  -->
    <div>
        <div style="width: 500px;margin: 120px auto 0 auto;">
            <div class="login-grids">
                <div class="login">
                    <div class="login-right">
                        <form action="" id="form-reg">
                            <h3>Register </h3>
                            <input v-model="username" name="name" type="text" placeholder="用户名" onfocus="this.placeholder = '';" onblur="if (this.placeholder == '') {this.placeholder = '用户名';}" required="">
                            <input v-model="mail" name="mail" type="text" placeholder="邮箱" onfocus="this.placeholder = '';" onblur="if (this.placeholder == '') {this.placeholder = '邮箱';}" required="">
                            <input v-model="password" type="password" id="pwd1" placeholder="密码" onfocus="this.placeholder = '';" onblur="if (this.placeholder == '') {this.placeholder = '密码';}" required="">
                            <input type="password" placeholder="确认密码" id="pwd2" onfocus="this.placeholder = '';" onblur="if (this.placeholder == '') {this.placeholder = '确认密码';}" required="">
                            <input type="button" id="btn-reg" value="立即注册">
                            <p id="tips" style="color:#faa43d"></p>
                        </form>
                    </div>
                    <div class="clearfix"></div>
                </div>
                <p>已有账号？<a href="#">点击这里</a>登陆</p>
            </div>
        </div>
    </div>
    <!-- 页脚 -->
    <script>
    var regData = new Vue({
        el: '#form-reg',
        data: {
            username: '',
            mail: '',
            password: ''
        }
    });
    //注册请求
    $("#btn-reg").click(function() {
        var pwd1 = $("#pwd1").val();
        var pwd2 = $("#pwd2").val();
        if (pwd1 != pwd2) {
            $("#tips").text("两次密码不一致，请重新输入");
        } else {
            $.ajax({
                type: 'POST',
                url: '/users/signUp',
                data: {
                    name: regData.username,
                    mail: regData.mail,
                    password: regData.password
                },
                dataType: 'json',
                success: function(data) {
                    console.log(data);
                    alert(data)
                    if(5===data[0]){
                        window.location.href = '/signIn'
                    }
                },
                error: function() {
                    // alert("请求失败！");
                }
            });

        }
    });
    </script>
</body>